
<?php
session_start();

if (!isset($_SESSION['id_usuario'])) {
    header("Location: ../Login.php");
    exit();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/funcionarios.css">
    <title>Status</title>
</head>
<body>
    <header id="header" >
        <div id="container_nav" >
    
            <nav id="nav_bar" >
    
                <div><img id="logo" src="../assets/images/Logo-removebg-preview.png" alt=""></div>
                <div id="container_menu" ><img id="menu" src="../assets/images/image copy 2.png" alt=""></div>
    
            </nav>
    
        </div>
    
        <nav id="side_menu" class="hidden">
            <ul>
                <div id="container_user" >
                    <li class="User" >
                        <a href="perfil.html"><img  src="../assets/images/User.png" alt=""></a>
                    </li>
                </div>
    
                <div id="container_options" >
                    <li class="Stats" >
                        <a href="dashboard.html"><img  src="../assets/images/Stats.png" alt=""></a>
                        <p class="info_options" >STATUS</p>
                    </li>
    
                    <li class="stock" >
                        <a href="estoque.php"><img  src="../assets/images/Stock.png" alt=""></a>
                        <p class="info_options" >ESTOQUE</p>
                    </li>
    
                    <li class="Burnings" >
                        <a href="queimas.php"><img  src="../assets/images/Burnings.png" alt=""></a>
                        <p class="info_options" >QUEIMAS</p>
                    </li>
    
                    <li class="Employee" >
                        <a href="funcionarios.php"><img  src="../assets/images/employee.png" alt=""></a>
                        <p class="info_options" >FUNCIONARIOS</p>
                    </li>
                </div>
    
            </ul>
        </nav>
    </header>
    
    <script src="../assets/js/funcionarios.js"></script>
</body>
</html>