@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  user-select: none;  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#D28246, #D95702);
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 425px;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 20px;
  flex-direction: column;
}

#Tag_Form {
  background-color: #D95702;
  width: 425px;
  position: relative;
  bottom: 25px;
  height: 70px;
  pointer-events: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;

}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input_box {
  display: flex;
  justify-content: center;
  position: relative;
  right: 15px;
  align-items: center;
  margin: 15px ;
  width: 320px;
}

.image_box {
  width: 70px;
  position: relative;
  left: 30px;
  height: 45px;
  z-index: +11;
  background-color: #D95702;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_style {
  z-index: +11;
  width: 30px;
  height: 30px;
}


.input_style {
  width: 100%;
  height: 45px;
  padding: 10px;
  padding-left: 40px;
  font-size: 15px;
  border: none;
  outline: none;
  box-shadow: 0px 3.3px 10px 3px rgba(0, 0, 0, 0.25);
}

.input_style:hover{
    cursor: pointer;
    background-color: aliceblue;

}

.placeholder {
  position: absolute;
  left: 90px;
  top: 50%;
  font-weight: 100;
  transform: translateY(-50%);
  color: gray;
  pointer-events: none;
  transition: 0.3s ease all;
  padding: 0 5px;
  font-size: 14px;
}

.input_style:focus + .placeholder,
.input_style:not(:placeholder-shown) + .placeholder {
  top: 1px;
  left: 85px;
  font-size: 12px;
  color: #D95702;
} 

.input_enviar { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#Login {
  background-color: #D95702;
  color: white;
  border: none;
  margin-top: 30px;
  margin-bottom: 14px;
  width: 260px;
  height: 40px;
  border-radius: 10px;
  font-size: 25px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in;
}

#Login:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #D95702;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

#recover_password {
  font-size: 10px;
}

#recover_password > a {
  text-decoration: none;
  color: #D95702;
  transition: color 0.2s ease-in;
}

#recover_password > a:hover {
  cursor: pointer;
  color: #D95702;
  text-decoration: underline;
}

